/* .App {
  text-align: center;
} */


.color-1 {
  color: #23a6d5;
}

.xl-icon {
  font-size: 6rem;
}

.xl-txt {
  font-size: 1.8rem;
}

.lg-txt {
  font-size: 1.2rem;
}

.align-icons {
  top: 4px;
}
